<h1> <%= @cocktail.name %> </h1>
<ol>
  <% @cocktail.doses.each do |dose| %>
  <%= dose.ingredient | dose.description %>
  <% end %>
</ol>

<%= link_to 'Add an ingredient to this cocktail', new_cocktail_dose_path(@cocktail) %>
