<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 30%), url('https://images.unsplash.com/photo-1470337458703-46ad1756a187?dpr=1&auto=format&fit=crop&w=1199&h=801&q=80&cs=tinysrgb&crop=');">
  <div class="banner-content">
    <h1>Discover your next favorite cocktail</h1>
    <p>Drink. Rate. Share</p>
    <%= link_to "Create a new cocktail now!", new_cocktail_path, class: "btn btn-primary btn-action" %>
  </div>
</div>
