// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form-new-cocktail {
  margin: auto;
  vertical-align: middle;
  position: relative;
}

.wrapper {
  width: 100%;
  text-align: center;
  height: 80vh;
  position: absolute;
  display: flex;
  align-items: center;
}
